<div class="overflow-x-auto mt-6 shadow-lg">
    <div class="flex justify-end mb-4">
        <button 
          class="px-3 py-1.5 rounded-full bg-green-400 text-white font-bold text-lg hover:bg-green-500 cursor-pointer"
          routerLink="/transactions/addUpdate"
        >
          <i class="material-icons text-white text-base">add</i>
        </button>
      </div>
    <table class="table-auto border-collapse w-full bg-white shadow-md">
        <thead>
            <tr class="border-b border-gray-200">
                <th class="px-2 py-2 text-left w-16">Type</th>
                <th class="px-2 py-2 text-left w-24">Amount</th>
                <th class="px-4 py-2 text-left w-96">Description</th>
                <th class="px-4 py-2 text-left w-40">Date</th>
                <th class="px-4 py-2 text-left w-40">Category</th>
                <th class="px-4 py-2 text-left w-32"></th>
            </tr>
        </thead>
        <tbody>
            @for(item of transactions; track $index)
            {
                <tr
                    [ngClass]="{ 'bg-gray-100': $index % 2 === 0, 'bg-white': $index % 2 !== 0 }"
                    class="border-b border-gray-200"
                >
                    <td class="px-2 py-2 flex items-center space-x-2">
                        <span
                        *ngIf="item.Type"
                        class="inline-flex items-center justify-center w-5 h-5 rounded-full"
                        [ngClass]="{
                            'bg-green-400': item.Type === 'income',
                            'bg-red-400': item.Type === 'expense'
                        }"
                        >
                        <i
                            class="material-icons text-white text-sm"
                        >
                            {{ item.Type === 'Income' ? 'arrow_upward' : 'arrow_downward' }}
                        </i>
                        </span>
                        <span *ngIf="!item.Type" class="text-gray-500">N/A</span>
                    </td>
                  
                    <td class="px-2 py-2 border-l border-gray-200">{{ item.Amount | currency }}</td>
                    <td class="px-4 py-2 border-l border-gray-200">{{ item.Description }}</td>
                    <td class="px-4 py-2">{{ item.TransactionDate | date: 'short' }}</td>
                    <td class="px-4 py-2">{{ item.CategoryName }}</td>

                    <td class="px-4 py-2 flex space-x-2">
                        <span
                            class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-blue-400 hover:bg-blue-500 cursor-pointer"
                            (click)="editTransaction(item)"
                        >
                            <i class="material-icons text-white text-2xl">edit</i>
                        </span>
                        <span
                            class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-red-400 hover:bg-red-500 cursor-pointer"
                            (click)="deleteTransaction(item)"
                        >
                            <i class="material-icons text-white text-2xl">delete</i>
                        </span>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
