<div class="overflow-x-auto mt-6 shadow-lg">
    <div class="flex justify-end mb-4">
        <button 
          class="px-3 py-1.5 rounded-full bg-green-400 text-white font-bold text-lg hover:bg-green-500 cursor-pointer"
          routerLink="/budgets/addUpdate"
        >
          <i class="material-icons text-white text-base">add</i>
        </button>
      </div>
    <table class="table-auto border-collapse w-full bg-white shadow-md">
        <thead>
            <tr class="border-b border-gray-200">
                <th class="px-2 py-2 text-left w-32">Category</th>
                <th class="px-2 py-2 text-left w-32">Amount</th>
                <th class="px-4 py-2 text-left w-32">Start Date</th>
                <th class="px-4 py-2 text-left w-32">End Date</th>
                <th class="px-4 py-2 text-left w-32"></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let budget of budgets; let i = index"
                [ngClass]="{ 'bg-gray-100': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
                class="border-b border-gray-200"
            >
                <td class="px-2 py-2 border-l border-gray-200">{{ budget.category }}</td>
                <td class="px-2 py-2 border-l border-gray-200">{{ budget.amount | currency }}</td>
                <td class="px-4 py-2 border-l border-gray-200">{{ budget.startDate | date: 'short' }}</td>
                <td class="px-4 py-2">{{ budget.endDate | date: 'short' }}</td>

                <td class="px-4 py-2 flex space-x-2">
                    <span
                        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-blue-400 hover:bg-blue-500 cursor-pointer"
                        (click)="editBudget(budget)"
                    >
                        <i class="material-icons text-white text-2xl">edit</i>
                    </span>
                    <span
                        class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-red-400 hover:bg-red-500 cursor-pointer"
                        (click)="deleteBudget(budget)"
                    >
                        <i class="material-icons text-white text-2xl">delete</i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
