<div class="flex flex-wrap space-x-4 space-y-4 md:space-y-0">
    <app-budget
      [chartData]="pieChartData1"
      [chartLabels]="pieChartLabels1"
      [chartOptions]="pieChartOptions1"
    ></app-budget>
  
    <app-budget
      [chartData]="pieChartData2"
      [chartLabels]="pieChartLabels2"
      [chartOptions]="pieChartOptions2"
    ></app-budget>
  
    <app-budget
      [chartData]="pieChartData3"
      [chartLabels]="pieChartLabels3"
      [chartOptions]="pieChartOptions3"
    ></app-budget>
  </div>
  