<div class="overflow-x-auto mt-6 shadow-lg">
    @if(notifications && notifications.length > 0)
      {

              <table class="table-auto border-collapse w-full bg-white shadow-md">
                <tbody>
                  @for(notification of notifications; track $index)
                  {
                      <tr [ngClass]="{'bg-gray-100': !notification.isRead, 'bg-white': notification.isRead}" class="border-b border-gray-200">
                          <td class="px-2 py-2 border-l border-gray-200 w-3/4">{{ notification.message }}</td>
                          <td class="px-4 py-2 border-l border-gray-200 w-1/8">{{ notification.createdAt | date: 'dd/MM/yyyy' }}</td>                        
                          <td class="px-4 py-2 flex space-x-2 w-1/8">
                                <span
                                    class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-blue-400 hover:bg-blue-500 cursor-pointer"
                                    (click)="markAsRead(notification.notificationId!)"
                                >
                                    <i class="material-icons text-white text-2xl">visibility</i>
                                </span>
                                <span
                                    class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-red-400 hover:bg-red-500 cursor-pointer"
                                    (click)="delete(notification.notificationId!)"
                                >
                                    <i class="material-icons text-white text-2xl">delete</i>
                                </span>
                          </td>
                      </tr>
                  }
  
                </tbody>
              </table>
      }
      @else 
      {
          <div>
              <p class="text-center text-gray-600 text-lg mt-6">No notification available!</p>
          </div>
      }
  </div>
    
