<div class="max-w-xl mx-auto mt-32 p-8 shadow-lg rounded-md bg-white">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center my-6">
        <h1 class="text-2xl font-bold text-primary">Login</h1>
      </div>
  
      <div class="w-full mb-6">
        <input 
          formControlName="email" 
          type="email" 
          matInput 
          placeholder="name@example.com"
          class="w-full rounded-full border border-gray-400 h-14 px-4">
      </div>
  
      <div class="w-full mb-6">
        <input 
          formControlName="password" 
          type="password" 
          matInput 
          placeholder="Password"
          class="w-full rounded-full border border-gray-400 h-14 px-4">
      </div>
  
      <div class="text-center">
        <button 
          color="primary" 
          type="button" 
          routerLink="/register"
          class="px-6 py-3 rounded-full border border-blue-500 hover:bg-white hover:text-blue-400 w-40 bg-blue-400 text-white font-bold text-xl mx-2">
          Register
        </button>
        <button 
          color="primary" 
          type="submit" 
          class="px-6 py-3 rounded-full border border-blue-500 hover:bg-white hover:text-blue-400 w-40 bg-blue-400 text-white font-bold text-xl mx-2">
          Sign in
        </button>

      </div>      
    </form>
  </div>
  