<nav class="container bg-white p-4 mb-3 shadow-xl">
    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-12">
            <img src="https://via.placeholder.com/40" alt="Logo" class="w-10 h-10">
            
            <div class="flex space-x-11">
                <h2 class="text-gray-800 font-semibold hover:text-blue-500 cursor-pointer">About</h2>
                <h2 class="text-gray-800 font-semibold hover:text-blue-500 cursor-pointer">Politic</h2>
                <h2 class="text-gray-800 font-semibold hover:text-blue-500 cursor-pointer">Contact</h2>
            </div>
        </div>

        <div class="flex space-x-6">
            <button 
                mat-raised-button 
                color="primary" 
                class="px-4 py-2 rounded-full border border-blue-500 hover:bg-white hover:text-blue-400 w-32 bg-blue-400 text-white font-bold text-sm"
                routerLink="/register"
                >
                Register
            </button>
            <button 
                mat-raised-button 
                color="primary" 
                class="px-4 py-2 rounded-full border border-blue-500 hover:bg-white hover:text-blue-400 w-32 bg-blue-400 text-white font-bold text-sm"
                routerLink="/login"
                >
                Login
            </button>
        </div>
    </div>
</nav>
