<div class="container">
    <div class="grid grid-cols-4 grid-rows-3 gap-8">
        
        <div class="bg-white p-6 rounded-lg shadow-md col-span-1 row-span-2">
            <div class="flex justify-between">
                <h2 class="text-3xl font-semibold">Revenue</h2>
                <button class="px-4 py-2 border border-gray-500 rounded-full font-semibold">View Report</button>
            </div>
            <p class="text-3xl font-bold mt-4">$1,278.45</p>
            <p class="text-green-500 text-sm flex items-center">
                <i class="material-icons text-green-500 mr-1">arrow_upward</i> +2.1% vs last week
            </p>
            <div class="h-48 mt-4">
                <div class="bg-gray-200 h-full rounded">
                    <img src="/assets/graphs/Revenu.png" alt="Revenu Image" class="w-full h-full object-contain rounded">
                </div>
            </div>
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-md col-span-2 row-span-3">
            <div class="container">
                <div class="flex justify-between">
                    <h2 class="text-3xl font-semibold">Weekly Expense</h2>
                    <button class="px-4 py-2 border border-gray-500 rounded-full font-semibold">View Report</button>
                </div>
                <div class="h-96 mt-6">
                    <img src="/assets/graphs/WeeklyExpense.png" alt="WeeklyExpense" class="w-full h-full object-contain rounded">
                </div>
            </div>      
            <div class="mt-11 container">
                <h2 class="text-2xl font-semibold">Saving Goal</h2>
                <p class="text-sm text-gray-500 text-center">of $1,200</p>
                <div class="bg-gray-200 h-2 mt-2 rounded-full overflow-hidden">
                    <div class="bg-green-500 h-full w-1/3"></div>
                </div>
            </div>
        </div>
        

        <div class="bg-white p-6 rounded-lg shadow-md col-span-1 row-span-1">
            <div class="flex justify-between">
                <h2 class="text-2xl font-semibold">Spending Limit</h2>
                <button class="px-4 py-2 border border-gray-500 rounded-full font-semibold">View Report</button>
            </div>
            <p class="text-3xl font-bold mt-4">$252.98</p>
            <p class="text-sm text-gray-500">of $1,200</p>
            <div class="bg-gray-200 h-2 mt-2 rounded-full overflow-hidden">
                <div class="bg-red-500 h-full w-2/3"></div>
            </div>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md col-span-1 row-span-2">
            <div class="flex justify-between">
                <h2 class="text-2xl font-semibold">Daily Expense</h2>
                <button class="px-4 py-2 border border-gray-500 rounded-full font-semibold">View Report</button>
            </div>
            <p class="text-3xl font-bold mt-4">$78.32</p>
            <p class="text-red-500 text-sm flex items-center">
                <i class="material-icons text-red-500 mr-1">arrow_downward</i> -1.2% vs last week
            </p>
            <div class="h-56">
                <img src="/assets/graphs/dailyExpense.png" alt="dailyExpense" class="w-full h-full object-contain rounded">
            </div>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md col-span-1 row-span-1 grid grid-cols-2 gap-8">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <button class="bg-purple-200 hover:bg-purple-300 text-xl font-semibold rounded-full p-3 flex items-center transition duration-200 group">
                    <i class="material-icons text-purple-700 group-hover:text-purple-900">directions_car</i>
                  </button>                  
                <p class="text-sm text-gray-500">$12,567 of $25,000</p>
                <div class="bg-gray-200 h-2 mt-2 rounded-full overflow-hidden">
                    <div class="bg-purple-500 h-full w-2/3"></div>
                </div>
            </div>
            
            <div class="bg-white p-4 rounded-lg shadow-md">
                <button class="bg-orange-200 hover:bg-orange-300 text-xl font-semibold rounded-full p-3 flex items-center">
                    <i class="material-icons text-orange-700 group-hover:text-orange-900">home</i>
                </button>            
                <p class="text-sm text-gray-500">$8,567 of $50,000</p>
                <div class="bg-gray-200 h-2 mt-2 rounded-full overflow-hidden">
                    <div class="bg-orange-500 h-full w-3/4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
